
<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title> Accent Recognition </title>
    <link href="{% static 'styles/app.css' %}" rel="stylesheet" type="text/css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script> 
  </head>
  <body>

    <div class="wrapper">
      <img src="{% static 'images/Viettel_Headquarter.png' %}" />

      <section class="main-controls">
        <div id="buttons">
          <button class="record">Record</button>
          <button class="stop">Stop</button>
        </div>
        <div id="loader" class="lds-hourglass hidden"></div>
      </section>

      <div id="result"></div>
      <section class="sound-clips">


      </section>

    </div>
    <label for="toggle">❔</label>
    <input type="checkbox" id="toggle">
    {% include "app.html" %}

  </body>
</html>